html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0 auto;

}

body {
   
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0 0.938rem;
    margin:  0 auto;
}


.top-navigation {
background-color: #fff;
font-size: 16px;
color: #838994;
letter-spacing: 0.02em;
position: fixed;
width: 100%;
z-index: 9999;
text-align: right;
}


.top-navigation .links li {
    display: inline-block;
    margin: 25px;
   
 }

 .top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
 }

  .top-navigation .links li:hover {
    cursor: pointer;
    color: LightGray;
 }

.top-navigation > .content {
    height: 70px;
    padding: 0px 15px;
    width: 970px;
}

.introduction {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;

}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    overflow: auto;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 20px;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: Chocolate;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.big-button:hover {
cursor: pointer;
    color: LightGray;
    background-color: #f46714;
 }


.cases .devices {
    width: 32.55%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    
}


.cases h2 {
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    margin-top: 8rem;
    margin-bottom: 2.74rem;
}

.content-spacing {
    padding-left: 2em;
    padding-right: 2rem;
    padding-bottom: 5rem;

}

.social {
    padding-bottom: 5rem;
    text-align: center;
    
}

.social .icons > li {
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.social .icons > li:hover {
    cursor: pointer;
}

.fa-twitter {
    color: #00aced;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #517fa4;
}

.social .copy {
    font-size: 1rem;
    font-weight: 300;
}







