html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0 auto;
}

body {
   
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0 0.938rem;
    margin:  0 auto;
}

div {
    border: 1px solid Chocolate;
}

.top-navigation {
background-color: #fff;
font-size: 16px;
color: #838994;
letter-spacing: 0.02em;
position: fixed;
width: 100%;
z-index: 9999;
}

.top-navigation .links li {
    display: inline-block;
    margin: 25px;
    float: right;
 }

 .top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
 }

  .top-navigation .links li:hover {
    cursor: pointer;
    color: LightGray;
 }

.top-navigation > .content {
    height: 70px;
    padding: 0px 15px;
    width: 970px;
}

.introduction {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;

}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    overflow: auto;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 20px;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: Chocolate;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.big-button:hover {
cursor: pointer;
    color: LightGray;
    background-color: #f46714;
 }


.cases .devices {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    height: 4em;
    align-items: center;
    padding: 0px;
    text-align: center;

}


.cases h2 {
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    margin-top: 8rem;
    margin-bottom: 2.74rem;
}

.content-spacing {
    padding-left: 12.3rem;
    padding-right: 12.3rem;
    padding-bottom: 5rem;
}




